<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('controller.home') }}">LOVAC - Low Volume Accumulator</a>
        <a href="{{ url_for('controller.home') }}"><img src="/static/logotop.svg" height="35px" /></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                {% if not current_user.admin %}
                <li><a href="{{ url_for('controller.admin_login') }}"><i class="fa fa-sign-out fa-fw"></i> Login</a>
                    {% else %}
                <li><a href="{{ url_for('controller.admin_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    {% endif %}
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->


    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ url_for('controller.admin_dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Admin
                        Dashboard</a>
                </li>
                <li>
                    <a href="{{ url_for('controller.admin_usermanagement') }}"><i class="fa fa-users fa-fw"></i> Usermanagement
                        Dashboard</a>
                </li>
                <li>
                    <a href="{{ url_for('controller.admin_invitationcodes') }}"><i class="fa fa-paper-plane-o"></i>
                        Invitationcodes</a>
                </li>
                <li>
                    <a href="{{ url_for('controller.admin_sendmail_all_get') }}"><i class="fa fa-envelope-o"></i> Mail
                        to all users</a>
                </li>
                <li>
                    <a href="{{ url_for('controller.admin_listconfigs') }}"><i class="fa fa-wrench"></i> List
                        Configurations</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->

</nav>