<div class="panel panel-default">
    <div class="panel-heading">
        Create new User
    </div>
    <div class="panel-body">
        <form role="form" action="{{ url_for('controller.admin_newuser') }}" method=post>
            <p class="help-block">Specify username and password here: </p>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="email" value="">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" name="password" value="">
            </div>
            <div class="checkbox">
                <label>
                    <input value="" name="admin" type="checkbox">Admin
                </label>
            </div>
            <button type="submit" value=Share class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>