<div class="panel panel-default">
    <div class="panel-heading">
        Create new Invitationcode
    </div>
    <div class="panel-body">
        <form role="form" action="{{ url_for('controller.admin_newinvitationcode') }}" method=post>
            {{ invitationform.csrf_token }}
            <p class="help-block">Specify invitationcode here: </p>
            <p>
                {{ invitationform.code(placeholder="code",class="form-control") }}
                    <span class="text-danger">
                    {% if invitationform.code.errors %}
                        {% for error in invitationform.code.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
            </p>
            <p>
                {{ invitationform.max_users(placeholder="Maximal number of users",class="form-control") }}
                    <span class="text-danger">
                    {% if invitationform.max_users.errors %}
                        {% for error in invitationform.max_users.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
            </p>
            <p>
                {{ invitationform.comment(placeholder="comment",class="form-control") }}
                    <span class="text-danger">
                    {% if invitationform.comment.errors %}
                        {% for error in invitationform.comment.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
            </p>
            <button type="submit" value=Share class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>