<div class="panel panel-default">
    <div class="panel-heading">
        Registration Report
    </div>
    <div class="panel-body">
        <table class="table table-hover">
                {% for year, month, count in register_report %}
                <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td>{{ year }}/{{ month }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% else %}
                <li><em>Unbelievable. No users here so far</em>
                {% endfor %}
        </table>
    </div>
    <!-- / panel-body -->
</div>
<!-- / panel -->