<div class="panel panel-default">
    <div class="panel-heading">
        Purchase Report
    </div>
    <div class="panel-body">
        <table class="table table-hover">
                <tr>
                    <td>Yesterday</td>
                    <td>$ {{ "{:10.0f}".format(purchase_report.yesterday) }}</td>
                </tr>
                <tr>
                    <td>Last 7 days</td>
                    <td>$ {{ "{:10.0f}".format(purchase_report.last_7_days) }}</td>
                </tr>
                <tr>
                    <td>Last 30 days</td>
                    <td>$ {{ "{:10.0f}".format(purchase_report.last_30_days) }}</td>
                </tr>
        </table>
    </div>
    <!-- / panel-body -->
</div>
<!-- / panel -->