<div class="panel panel-default">
    <div class="panel-heading">
        Autostatus Explanation
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <td>Autostatus</td>
                <td>Explanation </td>
            </tr>
            <tr>
                <td>10</td>
                <td>Bought DCA the other day </td>
            </tr>
            <tr>
                <td>11</td>
                <td>Bought the dip the other day </td>
            </tr>
            <tr>
                <td>15</td>
                <td>Had an error last bought</td>
            </tr>
            <tr>
                <td>16</td>
                <td>does not have a bitstamp-config</td>
            </tr>
            <tr>
                <td>17</td>
                <td>automatic_buy_flag was False</td>
            </tr>
        </table>
    </div>
    <!-- / panel-body -->
</div>
<!-- / panel -->