<div class="panel panel-default">
    <div class="panel-heading">
        Autostatus Report
    </div>
    <div class="panel-body">
        <table class="table table-hover">
                {% for key, value in autostatus_report %}
                <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% else %}
                <li><em>Unbelievable. No users here so far</em>
                {% endfor %}
        </table>
    </div>
    <!-- / panel-body -->
</div>
<!-- / panel -->