<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                User List ({{ users|length }} Users in total)
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">

                    <table width="100%" class="table table-striped table-bordered table-hover">
                        <tr>
                            <td>Email</td>
                            <td>Registered</td>
                            <td>Last Login</td>
                            <td>Confirmed</td>
                            <td>Admin</td>
                            <td>Autostatus</td>
                        </tr>
                        {% for user in users %}
                        <tr class="{{ loop.cycle('odd', 'even') }}">
                            <td><a href="{{ url_for('controller.admin_userdetails',email=user.email) }}">{{ user.email
                                    }}</a></td>
                            <td>{{ user.registered_on.strftime('%Y-%m-%d') }}</td>
                            <td>{{ user.last_login.strftime('%Y-%m-%d') if user.last_login != None else 'NONE' }} </td>
                            <td>{{ user.confirmed }}</td>
                            <td>{{ user.admin}} </td>
                            <td>{{ user.autostatus}} </td>
                        </tr>
                        {% else %}
                        <li><em>Unbelievable. No users here so far</em>
                            {% endfor %}
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-5">
        {% include "admin/_new_user.html" %}
        {% include "admin/_panel_explain_autostatus.html" %}
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /row -->