<div class="row">


    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                User Details

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td>Username</td>
                        <td>{{user.email}}</td>
                        <td>Admin</td>
                        <td>{{ user.admin}} </td>
                    </tr>
                    <tr>
                        <td>Registered</td>
                        <td> {{user.registered_on.strftime('%Y-%m-%d')}} </td>
                        <td>Last Login</td>
                        <td>{{ user.last_login.strftime('%Y-%m-%d') if user.last_login != None else 'NONE' }}</td>
                    </tr>
                    <tr>
                        <td>Last Login</td>
                        <td>{{ user.last_login.strftime('%Y-%m-%d') if user.last_login != None else 'NONE' }}</td>
                        <td>Confirmed On</td>
                        <td> {{ user.confirmed_on}} </td>
                    </tr>
                    <tr>
                        <td>Confirmed</td>
                        <td> {{ user.confirmed}} </td>
                        <td>Autostatus</td>
                        <td> {{ user.autostatus}} </td>
                    </tr>
                    <tr>
                        <td>Invitationcode</td>
                        <td>{{ user.invitationcode_code}} </td>
                    </tr>
                </table>
                <form role="form" action="{{ url_for('controller.admin_deluser') }}" method="post">
                    <input type="hidden" name="email" value="{{user.email}}">
                    <button type="submit" value=Share class="btn btn-danger" onclick="return confirm('Are you sure?');">
                        <span class="glyphicon glyphicon-remove" /> Remove User
                    </button>
                </form>


            </div>
            <!-- / .panel-body-->
        </div>
        <!-- / .panel-->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        {% include "admin/_panel_explain_autostatus.html" %}
    </div>
    <!-- /.col-lg-4 -->
</div>

<!-- /row -->

<div class="row">

    {% include "admin/_send_mail.html" %}

</div>
<!-- /row -->