<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
          Payments Summary
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <td>Sum Payments</td> <td>{{ user_summary.payments_sum }}</td>
                </tr>
                <tr>
                    <td># of Payments</td> <td> {{ user_summary.payments_completed_count }}</td>
                </tr>
                <tr>
                    <td>Sum Lfees</td> <td>{{ user_summary.lfees_sum}} </td>
                </tr>
                <tr>
                    <td>Current Lfee balance</td> <td> {{ user_summary.lfees_payments_balance}}  </td>
                </tr>
            </table>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            Payments List
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">

                <table width="100%" class="table table-striped table-bordered table-hover">
                    <tr>
                    <td>ID</td>
                    <td>Status</td>
                    <td>Satoshis</td>
                    <td>created at</td>
                    <td>modified at</td>
                    <td>Actions</td>
                    </tr>
                {% for payment in payments %}
                    <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td> {{ payment.id }}</td>
                    <td> {{ payment.status }} </td>
                    <td>{{ payment.satoshi_amount }} </td>
                    <td>{{ payment.created_at }} </td>
                    <td>{{ payment.modified_at }} </td>
                    <td>
                        <form role="form" action="{{ url_for('controller.payment_delete') }}" method="post">
                            <input type="hidden" name="id" value="{{ payment.id}}">
                            <button type="submit" value=Share class="btn btn-primary">
                                <span class="glyphicon glyphicon-remove"/>
                            </button>
                        </form> 
                    </td>
                </tr>
                {% else %}
                    <li><em>Unbelievable. No Payments so far</em>
                {% endfor %}
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
  </div>
  <!-- /.col-lg-4 -->
</div>
<!-- /row -->