<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Notification Summary
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <td># of notifications</td>
                        <td> TBD </td>
                    </tr>
                    <tr>
                        <td># of resolved notifications </td>
                        <td> TBD </td>
                    </tr>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel-default -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Notifications List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">

                    <table width="100%" class="table table-striped table-bordered table-hover">
                        <tr>
                            <td>User</td>
                            <td>Sent at</td>
                            <td>Purpose</td>
                            <td>Resolved</td>
                        </tr>
                        {% for notification in notifications %}
                        <tr class="{{ loop.cycle('odd', 'even') }}">
                            <td> {{ notification.user.email }}</td>
                            <td> {{ notification.sent_at }}</td>
                            <td> {{ notification.sentpurpose.value }} </td>
                            <td>{{ notification.resolved }} </td>
                        </tr>
                        {% else %}
                        <li><em>Unbelievable. No Notifications so far</em>
                            {% endfor %}
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /row -->