<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Balance Summary
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          {% include "_balance_summary.html" %}
        </div>
        <!-- /.panel-body -->
      </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-4 -->
</div>
<!-- /row -->