<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
          Invitation Code Summary
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <p>Number of invitationCodes in the System: {{ invitationcodes|length }}</p>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            Invitationcode List
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">

                <table width="100%" class="table table-striped table-bordered table-hover">
                    <tr>
                    <td>Code</td>
                    <td>Max Users</td>
                    <td>comment</td>
                    <td>current Users</td>
                    </tr>
                {% for invitationcode in invitationcodes %}
                    <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td>{{ invitationcode.code }}</td>
                    <td>{{ invitationcode.max_users }}</td>
                    <td>{{ invitationcode.comment}} </td>
                    <td>{{ invitationcode.users|length}} </td>
                    <td>
                        <form role="form" action="{{ url_for('controller.invitationcode_delete') }}" method="post">
                            <input type="hidden" name="code" value="{{ invitationcode.code}}">
                            <button type="submit" value=Share class="btn btn-primary">
                                <span class="glyphicon glyphicon-remove"/>
                            </button>
                        </form> 
                    </td>
                </tr>
                {% else %}
                    <li><em>Unbelievable. No Invitationcodes so far</em>
                {% endfor %}
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-3">
        {% include "admin/_new_invitationcode.html" %}    
   </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /row -->