<div class="panel panel-default">
    <div class="panel-heading">
        Sending a mail to the user (or all all users)
    </div>
    <div class="panel-body">
        {% if user is defined %}
        <form role="form" action="{{ url_for('controller.admin_sendmail',email=user.email) }}" method=post>
        {% else %}
        <form role="form" action="{{ url_for('controller.admin_sendmail_all_post') }}" method=post>
        {% endif %}
            <div class="form-group">
                {{ sendmailform.csrf_token }}
                <label>Subject</label>
                {{ sendmailform.mailsubject(placeholder="subject",class="form-control") }}
                    <span class="text-danger">
                    {% if sendmailform.mailsubject.errors %}
                        {% for error in sendmailform.mailsubject.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
            </div>
            <div class="form-group">
                <label>Text</label>
                {{ sendmailform.mailtext(placeholder="mailtext",class="form-control", rows="5") }}
                    <span class="text-danger">
                    {% if sendmailform.mailtext.errors %}
                        {% for error in sendmailform.mailtext.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
            </div>
            <button type="submit" value=Share class="btn btn-primary">Send</button>
        </form>
    </div>
</div>