<div class="panel panel-default">
    <div class="panel-heading">
        Manage Tickerdata
    </div>
    <div class="panel-body">
        <p class="help-block">Import 200 days of Tickerdata from BitcoinCharts (don't do that too often): </p>
        <form role="form" action="{{ url_for('controller.admin_import_bcc_data') }}" method=get>
            <button type="submit" value=Share class="btn btn-primary">Import BCC Data</button>
        </form>
        <hr/>
        <p class="help-block">Empty the tickerdata-table: </p>
        <form role="form" action="{{ url_for('controller.admin_purge_tickerdata') }}" method=get>
            <button type="submit" value=Share class="btn btn-primary">Purge Tickerdata</button>
        </form>
        <hr/>
        <p class="help-block">Specify the filename to import here: </p>
        <form role="form" action="{{ url_for('controller.admin_import_tickerdata_file') }}" method=post>
            <div class="form-group">
                <label>Filename</label>
                <input class="form-control" name="filename" value="">
            </div>
            <button type="submit" value=Share class="btn btn-primary">Import BCC Data</button>
        </form>
    </div>
</div>