{% extends "layout.html" %}

{% block navigation %}
{% include "admin/_navigation.html" %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Admin Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-4">
        {% include "admin/_panel_autostatus_report.html" %}
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        {% include "admin/_panel_explain_autostatus.html" %}
    </div>
    <!-- /.col-lg-4 -->
</div>

<div class="row">
    <div class="col-lg-4">
        {% include "admin/_panel_report_registrationmonthly.html" %}
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        {% include "admin/_panel_report_purchases.html" %}
    </div>
    <!-- /.col-lg-4 -->
</div>

{% include "admin/_row_tickerdatastuff.html" %}
{% endblock %}