{% extends "layout.html" %}

{% block navigation %}
    {% include "admin/_navigation.html" %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Admin Invitationcodes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% include "admin/_row_invitationstuff.html" %}

<div class="row">
    <div class="col-lg-4">
    </div>
</div>
<!-- /row -->    
{% endblock %}