{% extends "layout.html" %}

{% block navigation %}
    {% include "admin/_navigation.html" %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">All the configs</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-4">
            <table width="100%" class="table table-striped table-bordered table-hover">
                <tr>
                <td>Key</td>
                <td>Value</td>
                </tr>
                {% for key, value in configs.items() %}
                    <tr class="{{ loop.cycle('odd', 'even') }}">
                    <td>{{ key }}</td>
                    {% if key in list_of_secrets %}
                        <td>XXXXXXXXXXXX</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
    </div>
</div>
<!-- /row -->    
{% endblock %}