{% extends "layout.html" %}

{% block navigation %}
    {% include "admin/_navigation.html" %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Mail All Customer</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% include "admin/_send_mail.html" %}


{% include "admin/_row_notificationstuff.html" %}

<!-- /row -->    
{% endblock %}