{% extends "layout.html" %}

{% block navigation %}
    {% include "admin/_navigation.html" %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Details {{user.email}} </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% include "admin/_row_user_details.html" %}

{% include "admin/_row_user_payments_details.html" %}

{% include "_row_balancestuff.html" %}

{% include "_row_transactionstuff.html" %}

{% include "admin/_row_notificationstuff.html" %}

{% endblock %}