{% extends "layout_blank.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Setup Wizard</h1>
        <p>
            The wizard should help you to setup the connection to Bitstamp and configure a reasonable
            accumulation plan.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                configuring the API-key in lovac
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                {% if mode =="finished" %}
                <p>
                    Congratulations, you're almost done. In the next step, you're setting up your accumulation plan.
                </p>
                <a href="/wizard/step/5">
                    <button value=Share class="btn btn-primary">
                        Next Step
                    </button>
                </a>
                {% else %}
                <p>
                    As the last step of connecting to Bitstamp, we need now to copy over the API-key-values to configure them here. <span class="text-danger">Do NOT click
                    "save below" <strong>yet</strong></span>. Just copy the values!!!. We have 3 values, so copy them in the below fields:
                    <ul>
                        <li><strong>Bitstamp Username</strong>: This is what you use to login in Bitstamp. Usually a 6-digitz number</li>
                        <li><strong>Bitstamp key</strong>: That's what you just created and what you see in the screenshot</li>
                        <li><strong>Bitstamp secret</strong>: That's also what you see on the screenshot on the left.</li>
                    </ul>
                </p>
                <p>
                    Now click "activate", wait for the mail and click the link in the mail.
                </p>
                <p>
                    When you have done that, click "save" in the below form.
                </p>
                {% endif %}
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                    <img src="/static/wizard/create_apikey3.png"/>
            </div>
            <!-- /.panel-body -->
        </div> 
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row  -->

{% if mode =="notfinished" %}

<div class="row">
    <div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
        Bitstamp credentials
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
                <form role="form" action="{{ url_for('controller.wizard') }}" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.username(placeholder="username",class="form-control") }}
                            <span class="text-danger">
                            {% if form.username.errors %}
                                {% for error in form.username.errors %}
                                {{ error }}
                                {% endfor %}
                            {% endif %}
                            </span>
                        </div>
                        <div class="form-group">
                            {{ form.key(placeholder="key",class="form-control")|safe  }}
                            <span class="text-danger">
                            {% if form.key.errors %}
                                {% for error in form.key.errors %}
                                {{ error }}
                                {% endfor %}
                            {% endif %}
                            </span>
                        </div>
                        <div class="form-group">
                            {{ form.secret(placeholder="secret",class="form-control")|safe  }}
                            <span class="text-danger">
                            {% if form.secret.errors %}
                                {% for error in form.secret.errors %}
                                {{ error }}
                                {% endfor %}
                            {% endif %}
                            </span>
                        </div>
                        <div class="form-group">
                            {{ form.currency(placeholder="currency",class="form-control")|safe  }}
                            <span class="text-danger">
                            {% if form.currency.errors %}
                                {% for error in form.currency.errors %}
                                {{ error }}
                                {% endfor %}
                            {% endif %}
                            </span>
                        </div>
                        {% if mode == "DELETE" %}
                            <input type="hidden" name="_method" value="DELETE">
                        {% endif %}
                        <button type="submit" value=Share class="btn btn-primary">
                            Save 
                        </button>
                    </form>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    </div>
    <!-- .col-lg-6 -->
</div>
<!-- /.row  -->
{% endif %}
{% endif %}
{% endblock %}


