{% extends "layout_blank.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Setup Wizard</h1>
        <p>
            The wizard should help you to setup the connection to Bitstamp and configure a reasonable
            accumulation plan.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Creating a Bitstamp Subaccount
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    Bitstamp allows you to create subaccounts which have their own trading-history and only 
                    has access to the fund you're transferring to that subaccount. 
                </p>
                <p>
                    That's a great tool to reduce risk. So let's assume you'll create a subaccount called "lovac1" as shown
                    on the picture on the right hand side by clicking
                    <a href="https://www.bitstamp.net/account/sub-accounts/" target="_blank">here</a>
                </p>
                <p>
                    When you're done, let's go to the next step.
                </p>
                <a href="/wizard/step/2">
                    <button value=Share class="btn btn-primary">
                        Next Step
                    </button>
                </a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                    <img src="/static/wizard/create_subaccount.png" height="300px"/>
            </div>
            <!-- /.panel-body -->
        </div> 
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row  -->
  {% endif %}
{% endblock %}


