{% extends "layout_blank.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Setup Wizard</h1>
        <p>
            The wizard should help you to setup the connection to Bitstamp and configure a reasonable
            accumulation plan.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Funding the Bitstamp Subaccount
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    In this step we create the API-key which will later grant access to lovac to buy bitcoins
                    (view the balance and transactions) of your newly created subaccount.
                    You can see the exact necessary entries on the screenshot on the right.
                </p>
                <p>    
                    Click  <a href="https://www.bitstamp.net/account/sub-accounts/" target="_blank">here</a> 
                    to get there. Next step when you have created the API-Key.
                </p>
                <a href="/wizard/step/4">
                    <button value=Share class="btn btn-primary">
                        Next Step
                    </button>
                </a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                    <img src="/static/wizard/create_apikey1.png"/>
                    <img src="/static/wizard/create_apikey2.png"/>
            </div>
            <!-- /.panel-body -->
        </div> 
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row  -->
  {% endif %}
{% endblock %}


