{% extends "layout_blank.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Setup Wizard</h1>
        <p>
            The wizard should help you to setup the connection to Bitstamp and configure a reasonable
            accumulation plan.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Funding the Bitstamp Subaccount
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    Now, we need to fund the subaccount. You have to do that regulary, so depending on your
                    monthly investment (let's say $180) and your risk/lazyness-factor you might want to
                    transfer 2 month the amount of your monthly investment or $360 to your subaccount.
                </p>
                <p>
                    Switch to the other window, scroll down and fill the form for tranferring funds as 
                    shown on the screenshot on the right.
                </p>
                <a href="/wizard/step/3">
                    <button value=Share class="btn btn-primary">
                        Next Step
                    </button>
                </a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                    <img src="/static/wizard/fund_subaccount.png" height="300px"/>
            </div>
            <!-- /.panel-body -->
        </div> 
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row  -->
  {% endif %}
{% endblock %}


