{% extends "layout_blank.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Setup Wizard</h1>
        <p>
            The wizard should help you to setup the connection to Bitstamp and configure a reasonable
            accumulation plan.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dollar-Cost Averaging as solution to the Bitcoin investment Problem
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    You want to invest in bitcoin but doing that is quite
                    difficult with all that volatility. The solution: Dollarcost-Averging 
                    (<a href="https://en.wikipedia.org/wiki/Dollar_cost_averaging" target="_blank">Wikipedia</a>/
                    <a href="https://www.investopedia.com/terms/d/dollarcostaveraging.asp" target="_blank">Investopedia</a>)
                </p>
                <p>
                    The Video explains it quite appropriate:
                    <ul>
                        <li>If an asset pretty much goes up straight, lump-sum-investment might be better then DCA</li>
                        <li>you better start with Dollar-cost-averaging rather then not investing at all</li>
                    </ul>
                    Three things in favor of DCA are missing in the video: 
                    <ul>
                        <li>Bitcoin is not going up straight. There is another investment-method which also is mentioned in the context of Bitcoin-Investments: <a href="https://www.investopedia.com/terms/a/averagedown.asp" target="_blank">Average Down</a>. I let it up to you to figure out differences and similiarities between Averaging down and DCA. </li>
                        <li>You might already be fully invested but you want to increase your investment nevertheless</li>
                        <li>You might not have a larger sum and so you're enforced to use DCA</li>
                    </ul>
                    Lovac is the tool for DCA in Bitcoin. You can invest on a daily basis and you can invest as less
                    as $1 per day.
                </p>
                <p>
                    In order to use Lovac, you already need to be a Bitstamp-customer. So if you don't have an account 
                    there, Lovac is useless for you. Go ahead and <a href="https://www.bitstamp.net/account/register/">open an account</a>.
                </p>
                <p>
                    You already have an account? Great then let's start!
                </p>
                <a href="/wizard/step/1">
                    <button value=Share class="btn btn-primary">
                        Next Step
                    </button>
                </a>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dollar-Cost Averaging as solution to the Bitcoin investment Problem
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lTSXBrp7wC0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <!-- /.panel-body -->
        </div> 
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row  -->
  {% endif %}
{% endblock %}


