{% extends "layout.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Setup Wizard</h1>
        <p>
            The wizard should help you to setup the connection to Bitstamp and configure a reasonable
            accumulation plan.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Setting up the accumulation plan
           </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>
                    The last step is deciding how much you want to invest on a daily basis. The default
                    of $6 is already setup. Adjust it by clicking "Accumulation Plan" on the left.
                </p>
                <p>
                    If you decide for a value below $6, lovac will NOT buy on a daily basis as the minimum
                    purchase in Bistamp is already $6. So don't be surprised if Lovac will do the first purchase
                    of $6, although you have decided to have a lower daily purchase.
                </p>
                <p>
                    The daily purchase will usually happen close before midnight although that's not guaranteed to happen like
                    this. We might change that anytime. 
                </p>
                <p>
                    Over the day, you can manually do your daily purchase whenever you want. You can also Defer your purchase by a day
                    or more. However, you cannot defer it forever. At the last day of the month, lovac will purchase the accumulated
                    daily investments nevertheless and will therefore ensure that you're following your investment plan. Sometimes
                    one might not be abler to have a reasonable decisions. That's what long-term-planning is for. That why
                    lovac can help you in weak moments.
                </p>
                <p>
                    Another question to decide upon is your Accumulation Strategy. Currently, two strategies are supported:
                    <ul>
                        <li>
                            <strong>Daily buys</strong> will buy on a daily basis based on how much you should have invested calculated
                            via the daily-purchase.
                        </li>
                        <li><strong>Buy the Dip</strong> Will purchase only if the prices drop or at the end of the month.</li>
                    </ul>
                </p>
                <p>
                    Happy Hodling!
                </p>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row  -->
  {% endif %}
{% endblock %}


