{% extends "mail/html_mail_layout.html" %}
{% block mail_payload %}

Hi Customer,<br />
<br />
Thank you for signing up to Lovac. In order to use our service, we want to send you mails for various reasons.
Therefore we would like to get a confirmation for your Email-Address. In order to do that, please 
click on this link:<br/>
<a href="{{ url_for('controller.confirm_email',token=token,_external=True) }}">{{ url_for("controller.confirm_email",token=token,_external=True) }}</a><br />
<br />
You have to do that within 1 week. If the Link already expired, you'll get redirected to create another mail after login.<br />
<br />
Thank you very much<br />
<br />
Your Lovac Team<br />

{% endblock %}