{% extends "mail/html_mail_layout.html" %}
{% block mail_payload %}
    <p>
        Hi Lovac Customer,<br/>
        <br/>
        We tried to purchase bitcoin for you according to your accumulation plan.
        Unfortunately there is a shortage of {{ currency.upper() }} in your account.<br/>

        Use this <a href="https://www.bitstamp.net/account/sub-accounts/active/" rel="notrack">link</a> 
        to transfer {{ currency.upper() }} from your main-account to your subaccount.<br/>

        Use this <a href="https://www.bitstamp.net/account/deposit/bank/sepa/" rel="notrack">link</a>  
        to wire more money to bitstamp.<br/>
        
        
        You'll get this mail once a month and in the future hopefully immediately, after 
        you ran out of money on bitstamp.<br/>
        
        You can also <a href="{{ url_for('controller.accum_plan_get',_external=True) }}" rel="notrack">deactivate</a> your automatic buy which will also prevent receiving 
        mails like this in the future.<br/>
        
        
        Or you can finally <a href="{{ url_for('controller.changepassword',_external=True) }}" rel="notrack">close</a> 
        your account.<br/>
        
        But you won't do that, right!<br/>
        <br/>
        Your Lovac Team
    </p>
{% endblock %}