{% extends "mail/html_mail_layout.html" %}
{% block mail_payload %}
                      <p>
                        Hi Customer,<br/>
                        <br/>
                        If you requested a password reset for your account, click the button below. If you didn't make this request, ignore this email. <br/>
                        <a href="{{ url_for('controller.reset_password',token=token,_external=True) }}">{{ url_for("controller.reset_password",token=token,_external=True) }}</a><br/>
                        <br/>
                        This Link will be valid for one hour.<br/>
                        <br/>
                        <br/>
                        Your Lovac Team<br/>

                      </p>
{% endblock %}