{% extends "mail/html_mail_layout.html" %}
{% block mail_payload %}
    <p>
        Hi Lovac Customer,<br/>
        <br/>
        We're happy that you signed up for Lovac. Acquiring bitcoins daily is, what everyone should be doing!
        Lovac only works for you when you configure it to and setup your accumulation plan.<br/>
        <br/>
        Fortunately, we have a wizard which will guide you through the steps. Please click 
        <a href="{{ url_for('controller.wizard',_external=True) }}" rel="notrack">here</a> to
        start the Setup-Wizard.<br/>
        <br/>
        You might discovered that you need a bitstamp-account for that. If you don't have on, 
        signup for one <a href="https://www.bitstamp.net/account/register/" rel="notrack">here</a>.
        <br/>
        <br/>
        Your Lovac Team
    </p>
{% endblock %}