{% extends "mail/html_mail_layout.html" %}
{% block mail_payload %}
                      <p>
                        {% for line in mailtext.splitlines() %}
                            {{ line }} <br/>
                        {% endfor %}
                      </p>
                    </div>
{% endblock %}