<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <td>Balance</td>
                <td>bitcoin</td>
                <td>{{ balance_summary.currency }}</td>
            </tr>
            <tr>
                <td>Bitstamp</td>
                <td>{{ balance_summary.btc_balance }}</td>
                <td>{{ balance_summary.fiat_available }}</td>
            </tr>
            <tr>
                <td>cold storage</td>
                <td>{{ balance_summary.cold_storage }}</td>
                <td></td>
            </tr>
            <tr>
                <td>Sum</td>
                <td>{{ balance_summary.btc_sum }}</td>
                <td>{{ balance_summary.fiat_available }}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->