<form role="form" action="{{ url_for('controller.bitstampcred_post') }}" method="post">
    <p class="help-block">In order to use Bitstamp for transaction-listing and buying you must 
        configure the API-credentials here. If you're not familiar with these values, use the 
        <a href="{{ url_for('controller.wizard') }}">Setup-Wizard</a>.
    </p>
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.username(placeholder="username",class="form-control") }}
        <span class="text-danger">
        {% if form.username.errors %}
            {% for error in form.username.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
    <div class="form-group">
        {{ form.key(placeholder="key",class="form-control")|safe  }}
        <span class="text-danger">
        {% if form.key.errors %}
            {% for error in form.key.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
    <div class="form-group">
        {{ form.secret(placeholder="secret",class="form-control")|safe  }}
        <span class="text-danger">
        {% if form.secret.errors %}
            {% for error in form.secret.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
    <div class="form-group">
        {{ form.currency(placeholder="currency",class="form-control")|safe  }}
        <span class="text-danger">
        {% if form.currency.errors %}
            {% for error in form.currency.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    </div>
    {% if mode == "DELETE" %}
        <input type="hidden" name="_method" value="DELETE">
    {% endif %}
    <button type="submit" value=Share class="btn btn-primary">
        {% if mode == "POST" %}
        Save 
        {% else  %}
        delete
        {% endif %}
    </button>
</form>