<div class="table-responsive">

    <table width="100%" class="table table-striped table-bordered table-hover">
        <tr>
        <td>Address</td>
        <td>mBtc</td>
        <td>Last Sync</td>
        <td>Action</td>
        </tr>
    {% for entry in btcaddresses %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>{{ entry.btcaddress }}</td>
        <td>{{ entry.sat / 100000000 * 1000}} </td>
        <td>{{ entry.syncdatetime}} </td>
        <td>
            <form role="form" action="{{ url_for('controller.btcaddress_delete') }}" method="post">
                <input type="hidden" name="id" value="{{ entry.id}}">
                <button type="submit" value=Share class="btn btn-primary">
                    <span class="glyphicon glyphicon-remove"/>
                </button>
            </form> 
        </td>
    </tr>
    {% else %}
        <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    </table>
</div>
<!-- /.table-responsive -->

<form role="form" action="{{ url_for('controller.btcaddress_post') }}" method="post">
    <div class="form-group">
            <label>btc address</label>
            <input class="form-control" name="btcaddress" value="" placeholder="Your Bitcoin Address">
    </div>
    <button type="submit" value=Share class="btn btn-primary">
        Create
    </button>
</form>
