<!-- The Modal Charge me dialog -->
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ref="vuemodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Charge me</h4>
            </div>
            <div class="modal-body" ref="vuemodal3">
                <p>
                    You're balance of Lovac fees is {{ lfee_sum }} (Satoshis). 
                    Charge your balance using Lightning!
                </p>
                {% if lnd_invoice == "error" %}
                    <div class="alert alert-danger">
                        <p>
                            No payments are possible right now!
                            We're very sorry but currentlly our Lightning-node is out of order. 
                        </p>
                    </div>
                {% else %}
                <div align="center" ref="vuemodal2" >
                    <img v-if="!payment_confirmed" src="{{ qrcode(lnd_invoice) }}" width="40%">
                    <!-- Thanks to https://github.com/twitter/twemoji/blob/gh-pages/72x72/2705.png for the green-tick -->
                    <img v-if="payment_confirmed" src="{{ url_for('static', filename='tick.png') }}" width="200">
                </div>
                <div class="well" style="word-break: break-all; margin-top: 20px">
                    <span>{{ lnd_invoice }}</span>
                </div>
                <div align="center" style="margin-top:20px;margin-bottom: 20px">
                    <a href="lightning:{{ lnd_invoice }}" ><button class="btn btn-default" type="button">Open with your wallet</button></a>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseOne" class="" aria-expanded="true">Click here to open a channel</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="">
                        <div class="panel-body">
                            {% set lnd_node = "02354d23deeacfe0fecbfff109950cff14a1d2da72c1eb98a109b7ec0133b06609@138.68.15.197:9735" %}
                            <img src="{{ qrcode(lnd_node) }}" width="40%" />
                            <div class="well" style="word-break: break-all; margin-top: 20px">
                                {{ lnd_node }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript" charset="utf-8">

var myvue = new Vue({
    el:'#myModal',
    data: {
       paymentconfirmed: 'False'
    },
    delimiters: ["[[", "]]"],
    computed: {
        // a computed getter
        payment_confirmed: function () {
            // `this` points to the vm instance
            return (this.paymentconfirmed == 'True');
        }
    },
    methods: {
        loadData: function() {
            this.$http.get('/lfee/payment-requ/{{ lnd_invoice }}').then(response => { 
                console.log(response.data)
                this.paymentconfirmed = response.data;
                if (this.paymentconfirmed == "True") {
                    clearInterval(this.cronId)
                }
            }).bind(this);
        },
        modalClosedEvent: function(){
            clearInterval(this.cronId)
        },
        modalOpenedEvent(){
            this.loadData();
            this.cronId = setInterval(function () {
                this.loadData();
            }.bind(this), 3000); 
        }
    },
    mounted: function(){
        // We want to switch on/off the payment-check based on the modal shown or not
        $(this.$refs.vuemodal).on("hidden.bs.modal", this.modalClosedEvent)
        $(this.$refs.vuemodal).on("shown.bs.modal", this.modalOpenedEvent)
    }
  })
</script>