{% include "_charge_me.html" %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-left">
            <a href="{{ url_for('controller.home') }}"><img src="/static/Signet.png" height="60px" style="margin-left:45px;margin-top: 5px;margin-bottom:5px" /></a>
            <a href="{{ url_for('controller.home') }}"><img src="/static/Typo.png" height="25px" style="margin-left: 25px" /></a>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            
            <!-- Lovac Fees -->
            <button class="btn btn-outline btn-lg {% if lfee_sum < 1000  %}btn-danger{% endif %} btn-xs" type="button"
                    data-toggle="modal"
                    data-target="#myModal">
                <span class="fa fa-flash"/> {{ lfee_sum }}
            </button>

            <!-- Dropdown with logout etc. -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('controller.login') }}"><i class="fa fa-sign-out fa-fw"></i> Login</a>
                    {% else %}
                    <li><a href="{{ url_for('controller.logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    {% endif %}
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation" style="margin-top:72px">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ url_for('controller.dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('controller.ticker') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Ticker-charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ url_for('controller.ticker') }}">All-Time</a>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ url_for('controller.ticker_monthly',year=now.year,month=now.month) }}">Current Month</a>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ url_for('controller.ticker_monthly',year=lastmonth.year,month=lastmonth.month) }}">Last Month</a>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ url_for('controller.ticker_monthly',year=lastlastmonth.year,month=lastlastmonth.month) }}">The Month before</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="{{ url_for('controller.buy_get') }}"><i class="fa fa-edit fa-fw"></i> Buy (or Defer)</a>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> Settings<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                                <li>
                                        <a href="{{ url_for('controller.accum_plan_get') }}">Accummulation Plan</a>
                                </li>
                            </ul>
                        <ul class="nav nav-second-level">
                            <li>
                                    <a href="{{ url_for('controller.bitstampcred_get') }}">Bitstamp credentials</a>
                            </li>
                        </ul>
                        <ul class="nav nav-second-level">
                            <li>
                                    <a href="{{ url_for('controller.changepassword') }}">Change Password</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('controller.wizard') }}"><i class="fa fa-gears"></i> Setup Wizard</a>
                    </li>
                    {% if current_user.admin %}

                    <li><a href="{{ url_for('controller.admin_dashboard') }}"><i class="fa fa-bomb fa-fw"></i> Admin</a>
                    <li class="active">
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> About <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/static/pages/blank.html">Developer Help</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    