<div class="table-responsive">

    <table width="100%" class="table table-striped table-bordered table-hover">
        <tr>
        <td>Date</td>
        <td>btc</td>
        <td>{{ balance_summary.currency }}</td>
        <td>Rate</td>
        <td>Lovac Fee</td>
        </tr>
    {% for entry in purchases %}
        <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>{{ entry.datetime }}</td>
        <td>{{ entry.btc}} </td>
        <td>{{ entry.fiat}} </td>
        <td>{{ entry.btc_fiat}} </td>
        <td>{{ entry.lfee}} </td>
    </tr>
    {% else %}
        <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    </table>
</div>
<!-- /.table-responsive -->