<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <td>Sum mBtc</td>
                <td>Spend {{ purchase_summary.currency.upper()}}</td>
                <td>Average Price in {{ purchase_summary.currency.upper()}}</td>
                <td>Current price in {{ purchase_summary.currency.upper()}}</td>
            </tr>
            <tr>
                <td>{{ purchase_summary.btc_sum * 1000 }}</td>
                <td>{{ purchase_summary.fiat_sum }}</td>
                <td>{{ purchase_summary.average_price }} </td>
                <td>{{purchase_summary.btc_ticker_last }} </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ purchase_summary.currency.upper()}} Value</td>
                <td>Value Change</td>
                <td>Yield</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ "{:10.2f}".format(purchase_summary.btc_sum * purchase_summary.btc_ticker_last)  }}</td>
                <td>{{ "{:10.2f}".format(purchase_summary.btc_sum * purchase_summary.btc_ticker_last - purchase_summary.fiat_sum) }} </td>
                <td> % {{ purchase_summary['yield']  }} </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->