<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            Purchase Summary
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <p>Current Accumulation Setup: {{ purchase_summary.currency.upper()}} {{ purchase_summary.accum_setup }} daily</p>
            {% include "_purchases_summary.html" %}
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- .col-lg-6 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            Purchase List
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          {% include "_purchases.html" %}
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->