{% if current_user.is_authenticated %}
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
          Balance Summary
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        {% include "_balance_summary.html" %}
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-4 -->
  {% if balance_summary.fiat_available < 20 %}
    <div class="col-lg-4">
        {% include "_warning_usd_low.html" %}
    </div>
    <!-- /.col-lg-4 -->
  {% endif %}
  {% if balance_summary.btc_balance > 0.00001 %}
    <div class="col-lg-4">
        {% include "_warning_btc_high.html" %}
    </div>
    <!-- /.col-lg-4 -->
   {% endif %}
</div>
<!-- /row -->
{% endif %}