<h2>Lasciate ogni speranza, voi ch'entrate!</h2>
Ok, it's not that bad, but from a legal point of view, you get nothing!
I'm not responsible for anything.
If anything in this Terms of Service is violationg any law, that does not mean that the rest of that stuff is therefore invalid (Severability)!
<h2>Seriously?</h2>
Yes, seriously, but only partially. At least i've started to write a privacy policy which i'll improve over time.


<h2>Privacy Policy</h2>
We're comitted to protect your privacy and hereby declare, according to the Data Protection Regulation of The European Union.
As such we'll here list and describe:
<ul>
<li>the types od data we collect and how it may be used and the retention of it</li>
<li>Under which circumstances we may disclose your personal Data to third parties</li>
</ul>

<h3>Collection of Personal Information</h3>
We're dedicated to collect as less information from your side as possible. In general the information collected is only used to directly make the functionality available which the service offers. Such kind of information is stored in a database:
<ul>
<li>Your Email-Address and whether you have confirmed your email-adress</li>
<li>When you have registered and your last login</li>
<li>The API-credentials for the Bitstamp API and all the settings you setup there including cold-storage addresses</li>
<li>each purchase with date, amount and rate</li>
<li>The date and reason we've sent you mails</li>
</ul>

Apart from that, we keep logs for 2 years for troubleshotting and forensic analysis. In general each interaction (http-request) with the website is collected there. 

<h3>Disclosure and Sharing with third parties</h3>

Non of these Data is disclosed or shared with any third party. Your data may be shared with law enforcement or other authorities when compelled by court order or other legal procedure.

<h3>Statutory Rights</h3>
All Data which is stored about you is also visible on the frontend. You can request the deletion of your account anytime via self-service. In that case we'll immediately delete all your data we've stored in databases.