<div class="panel panel-warning">
    <div class="panel-heading">
        BTC warning
    </div>
    <div class="panel-body">
        <p>There are too many bitcoin in your exchange. You should
            <a href="https://www.bitstamp.net/account/withdraw/bitcoin/" target"_blank">withdraw</a> them. 
            Having too many Bitcoin in your Exchnage expose you to 
            <a href="https://www.investopedia.com/terms/c/counterpartyrisk.asp" target="_blank">Counterparty-risks</a>.
        </p>
    </div>
</div>