{% if balance_summary.fiat_available < 20 %}
{% if balance_summary.fiat_available < 6 %}
<div class="panel panel-danger">
    <div class="panel-heading">
        {{ balance_summary.currency.upper()}} Error
    </div>
{% else %}
<div class="panel panel-warning">
    <div class="panel-heading">
        Fiat Warning
    </div>
{% endif %}
    <div class="panel-body">
        <p>There is a shortage of {{ balance_summary.currency.upper()}} in your account. {% if balance_summary.fiat_available < 6 %} <strong>We can no longer 
            buy bitcoins for you. </strong >{% endif %}
            <a href="https://www.bitstamp.net/account/deposit/bank/sepa/" target="_blank">Deposit</a> 
            fresh money from your bank and/or 
            <a href="https://www.bitstamp.net/account/sub-accounts/active/" target="_blank">transfer</a>
            more {{ balance_summary.currency.upper()}} from your main-account to your sub-account.
            </p>
    </div>
</div>
{% endif %}