{% extends "layout_blank.html" %}
{% block body %}

<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<br>
<br>

<div id="vueapp">
{% if lnd_invoice == "error" %}
<div class="alert alert-danger">
    <p>
        No payments are possible right now!
        We're very sorry but currentlly our Lightning-node is out of order. 
    </p>
</div>
{% else %}

<div align="center" style="margin-top:20px;margin-bottom: 20px">
    <a href="lightning:{{ lnd_invoice }}" ><button class="btn btn-default" type="button">Pay {{ satoshis }} with your wallet</button></a>
</div>

<div align="center" ref="vuemodal2" >
    <img v-if="!payment_confirmed" src="{{ qrcode(lnd_invoice) }}" width="40%">
    <!-- Thanks to https://github.com/twitter/twemoji/blob/gh-pages/72x72/2705.png for the green-tick -->
    <img v-if="payment_confirmed" src="{{ url_for('static', filename='tick.png') }}" width="200">
</div>
<div class="well" style="word-break: break-all; margin-top: 20px">
    <span>{{ lnd_invoice }}</span>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseOne" class="" aria-expanded="true">Click here to open a channel</a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="">
        <div class="panel-body">
            {% set lnd_node = "02354d23deeacfe0fecbfff109950cff14a1d2da72c1eb98a109b7ec0133b06609@138.68.15.197:9735" %}
            <img src="{{ qrcode(lnd_node) }}" width="40%" />
            <div class="well" style="word-break: break-all; margin-top: 20px">
                {{ lnd_node }}
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>

<script type="text/javascript" charset="utf-8">

    var myvue = new Vue({
        el:'#vueapp',
        data: {
           paymentconfirmed: 'False'
        },
        delimiters: ["[[", "]]"],
        computed: {
            // a computed getter
            payment_confirmed: function () {
                // `this` points to the vm instance
                return (this.paymentconfirmed == 'True');
            }
        },
        methods: {
            loadData: function() {
                this.$http.get('/lfee/payment-requ/{{ lnd_invoice }}').then(response => { 
                    console.log(response.data)
                    this.paymentconfirmed = response.data;
                    if (this.paymentconfirmed == "True") {
                        clearInterval(this.cronId)
                    }
                }).bind(this);
            },
            modalClosedEvent: function(){
                clearInterval(this.cronId)
            },
            modalOpenedEvent(){
                this.loadData();
                this.cronId = setInterval(function () {
                    this.loadData();
                }.bind(this), 3000); 
            }
        },
        mounted: function(){
            // Let's start the polling
            this.modalOpenedEvent()
        }
      })
    </script>

{% endblock %}