{% extends "layout.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Buy or Defer</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Buy
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">

          <form role="form" action="{{ url_for('controller.buy_post') }}" method="post">
            <p class="help-block">
                {% if not data.manual_buy_enabled %} 
                You can't buy today.
                {% else %}
                Here, you can buy now if you like and if you have not yet today.
                {% endif %}
                The next time we'll automatically purchase is {{ data.next_autobuy_date}}<br/>
                We will try to purchase {{ current_user.bitstampconfig.currency.upper()}} {{data.purchase_amount}} on that day.<br/>    
            </p>
            {% if data.manual_buy_enabled %} 
              <button type="submit" value=Share class="btn btn-primary{% if not data.manual_buy_enabled %} disabled{% endif %}" {% if not data.manual_buy_enabled %} disabled="disabled"{% endif %} >
                  Buy 
              </button>
            {% endif %}
          </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- .col-lg-6 -->
  <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Defer
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <p class="help-block">But maybe you want to defer buying or reset the defering.
              </p>
              <form role="form" action="{{ url_for('controller.defer_post') }}" method="post">
                <button type="submit" value=Share class="btn btn-primary">
                    Defer buying 
                </button>
              </form>
              
              {% if data.defer_days > 0 %} 
              <hr/>
              <form role="form" action="{{ url_for('controller.defer_reset_post') }}" method="post">
                <button type="submit" value=Share class="btn btn-primary">
                    Reset defering 
                </button>
              </form>
              {% endif %}
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- .col-lg-6 -->
</div>
<!-- /.row  -->
<div class="row">
    <div class="col-lg-6">
        {% include "_warning_usd_low.html" %}
    </div>
    <!-- /.col-lg-12 -->
</div>
  {% endif %}
{% endblock %}


