{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% include "_row_balancestuff.html" %}
{% include "_row_transactionstuff.html" %}

<div class="row">
    <div class="col-lg-4">
    </div>
</div>
<!-- /row -->    
{% endblock %}