{% extends "layout.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Accumulation Plan</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        How and how much do you want to invest daily?
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">

          <form role="form" action="{{ url_for('controller.accum_plan_post') }}" method="post">
            <p class="help-block">
                Here you can specify how much {{current_user.bitstampconfig.currency.upper()}} you want to invest on a daily basis.
            </p>
            <div class="form-group">
                <label>daily investment</label>
                <input class="form-control" name="daily_investment" value="{{ accum_plan.daily_investment }}">
            </div>
            <p class="help-block">
                This results in a monthly investment (30 days) of {{current_user.bitstampconfig.currency.upper()}} {{ accum_plan.monthly_investment }}.
            </p>
            <p class="help-block">
                You can either have daily-investments or you buy explicitely when the price drops significantly.
                In either case, at the last day of the month, the missing monthly investment will be used for 
                the last purchase of the month. 
            </p>
            <div class="form-group">
                <label>Investment Strategy {{accum_plan.strategy}} </label>
                <select class="form-control" name="strategy">
                    {% for key, value in accum_plan.strategy_dict.items() %}
                        <option value="{{ key }}" {% if (key == accum_plan.strategy_target) %} selected="selected" {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="help-block">
                <input type="checkbox" name="automatic_buy_flag" {% if (accum_plan.automatic_buy_flag) %}checked{% endif %}/> untick to deactivate the automatic buying. Manual buys will still be possible!
            </p>          
            </div>
            <button type="submit" value=Share class="btn btn-primary">
                Save
            </button>
          </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- .col-lg-6 -->
</div>
<!-- /.row  -->

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
            Where do you store purchased bitcoins? This will be used to calculate the Amount of Bitcoin purchased
            after you've transferred them to cold storage.
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                    {% include "_btc_addresses.html" %}
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- .col-lg-6 -->
</div>
<!-- /.row  -->
  {% endif %}
{% endblock %}


