{% extends "layout.html" %}
{% block body %}

{% if current_user.is_authenticated %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Settings</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Bitstamp credentials
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        {% include "_bitstamp_credentials.html" %}
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- .col-lg-6 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Transaction Synchronisation
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <form role="form" action="{{ url_for('controller.bitstamp_sync_post') }}" method="POST">
                <p class="help-block">Sometimes it might be usefull to synchronize the Transactions from Bitstamp with the Purchases
                    which are used to calculate most of the stuff. You can do that here.
                </p>
                <button type="submit" value=Share class="btn btn-primary">
                    Synchronize
                </button>
          </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- .col-lg-6 -->
</div>
<!-- /.row  -->
  {% endif %}
{% endblock %}


