{% extends "layout.html" %}
{% block body %}
{#
  {% if current_user.is_authenticated %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
#}
  <ul class=entries>
  {% for entry in purchases %}
    <li><h2>{{ entry.id }} {{ entry.date }} {{ entry.amount }} {{ entry.currency }} {{ entry.bitcoin }}</h2>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}