{% extends "layout.html" %}

{% block header_addings %}

{% endblock %}


{% block body %}

<style> /* set the CSS */

    body { font: 12px Arial;}
    
    path { 
      stroke: LightSkyBlue;
      stroke-width: 2;
      fill: none;
    }
    /* The overlay will catch mouse-events */
    .overlay {
      fill: none;
      pointer-events: all;
    }
    /* The circle will focus the price */
    .focus circle {
      fill: green;
      stroke: green;
    }
    
    .axis path,
    .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }

    /* for the brushing ... */
    .axis--grid .domain {
      fill: #ddd;
      stroke: none;
    }

    .axis--x .domain,
    .axis--grid .tick line {
      stroke: #fff;
    }

    .axis--grid .tick--minor line {
      stroke-opacity: .5;
    }
    
    </style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ticker</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Bitstamp - BTC{{ current_user.bitstampconfig.currency.upper() }}
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" id="tickerpanelbody">
          <div id="graphDiv"></div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-4 -->

<script src="/static/js/d3.v4.min.js"></script>
<script>
var parseDate = d3.timeParse("%Y-%m-%dT%H:%M:%S.%LZ");
var bisectDate = d3.bisector(function(d) {
  return d.Date;
}).left;
var formatValue = d3.format(",.2f");
var formatCurrency = function(d) {
  return "{{current_user.bitstampconfig.currency.upper()}}" + formatValue(d);
};

var margin = { top: 30, right: 50, bottom: 30, left: 50 };
var svgWidth = document.getElementById("tickerpanelbody").offsetWidth;
var svgHeight = 450;
var graphWidth = svgWidth - margin.left - margin.right;
var graphHeight = svgHeight - margin.top - margin.bottom;
var graphData = {{ data.chart_data | safe }}
var purchaseData = {{ data.chart_data2 | safe }}
var x = d3.scaleTime().range([0, graphWidth]);
var y = d3.scaleLinear().range([graphHeight, 0]);

var xAxisBottom = d3.axisBottom(x).ticks(10);
var xAxisTop = d3.axisTop(x).ticks(10);
var yAxis = d3.axisLeft(y).ticks();

var priceLine = d3
  .line()
  .x(function(d) {
    return x(d.Date);
  })
  .y(function(d) {
    return y(d.Weightedprice);
  });

var ma20Line = d3
  .line()
  .x(function(d) {
    return x(d.Date);
  })
  .y(function(d) {
    return y(d.Ma20);
  });

var area = d3
  .area()
  .x(function(d) {
    return x(d.Date);
  })
  .y0(function(d) {
    return y(d.Upperband);
  })
  .y1(function(d) {
    return y(d.Lowerband);
  });

var circleradius = function circleradius(purchase) {
  // the area of the circe should relate to the amount purchased
  return Math.sqrt((purchase.btc * 70000) / 2.1415);
};

var svg = d3
  .select("#graphDiv")
  .append("svg")
  .attr("width", svgWidth)
  .attr("height", svgHeight)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

function drawGraph(data) {
  // For each row in the data, parse the date
  // and use + to make sure data is numerical
  data.forEach(function(d) {
    d.Date = parseDate(d.timestamp);
    d.Weightedprice = +d.weightedprice;
    d.Upperband = +d.upper_band;
    d.Lowerband = +d.lower_band;
    d.Ma20 = +d.ma20;
  });
  //console.log(data);
  // Scale the range of the data
  x.domain(
    d3.extent(data, function(d) {
      return d.Date;
    })
  );
  y.domain([
    d3.min(data, function(d) {
      return Math.min(d.Weightedprice, d.Ma20, d.Lowerband, d.Upperband);
    }),
    d3.max(data, function(d) {
      return Math.max(d.Weightedprice, d.Ma20, d.Lowerband, d.Upperband);
    })
  ]);
  // Add the clip path
  svg
    .append("defs")
    .append("clipPath")
    .attr("id", "clip")
    .append("rect")
    .attr("width", graphWidth)
    .attr("height", graphHeight);

  // Add the area path
  svg
    .append("path")
    .datum(data)
    .attr("class", "area")
    .attr("clip-path", "url(#clip)")
    .style("fill", "LightSkyBlue")
    .attr("d", area);
  // Add the highLine as a green line
  svg
    .append("path")
    .attr("class", "priceline line")
    .attr("clip-path", "url(#clip)")
    .style("stroke", "green")
    .style("fill", "none")
    .attr("d", priceLine(data));
  // Add the ma20Line as a blue dashed line
  svg
    .append("path")
    .attr("class", "ma20line line")
    .attr("clip-path", "url(#clip)")
    .style("stroke", "blue")
    .style("fill", "none")
    .style("stroke-dasharray", "3, 3")
    .attr("d", ma20Line(data));
  // Add the X Axis
  svg
    .append("g")
    .attr("class", "x axis bottom")
    .attr("transform", "translate(0," + graphHeight + ")")
    .call(xAxisBottom);

  svg
    .append("g")
    .attr("class", "x axis top")
    .call(xAxisTop);
  // Add the Y Axis
  svg
    .append("g")
    .attr("class", "y axis")
    .call(yAxis);
  // Add the text for the "Price" line
  svg
    .append("text")
    .attr(
      "transform",
      "translate(" + (graphWidth + 3) + "," + (graphHeight / 4) * 1 + ")"
    )
    .attr("dy", ".35em")
    .attr("text-anchor", "start")
    .style("fill", "green")
    .text("Price");
  // Add the text for the "Bollingerbands" line
  svg
    .append("text")
    .attr(
      "transform",
      "translate(" + (graphWidth + 3) + "," + (graphHeight / 4) * 2 + ")"
    )
    .attr("dy", ".35em")
    .attr("text-anchor", "start")
    .style("fill", "LightSkyBlue")
    .text("Bollingerbands");
  // Add the text for the "Rollin Mean" line
  svg
    .append("text")
    .attr(
      "transform",
      "translate(" + (graphWidth + 3) + "," + (graphHeight / 4) * 3 + ")"
    )
    .attr("dy", ".35em")
    .attr("text-anchor", "start")
    .style("fill", "blue")
    .text("MA20");
  // An area which will capture the mouse-events
  svg
    .append("rect")
    .attr("class", "overlay")
    .attr("width", svgWidth)
    .attr("height", svgHeight)
    .on("mouseover", function() {
      weigthed_focus.style("display", null);
      lb_focus.style("display", null);
      // focus_line.style("display", null);
    })
    .on("mouseout", function() {
      weigthed_focus.style("display", "none");
      lb_focus.style("display", "none");
      // focus_line.style("display", "none");
    })
    .on("mousemove", mousemove);
  // A circle marking the focus for the weighted-price
  var weigthed_focus = svg
    .append("g")
    .attr("class", "focus")
    .style("pointer-events", "none")
    .style("display", "none");
  weigthed_focus.append("circle").attr("r", 4.5);
  weigthed_focus
    .append("rect")
    .attr("height", 20)
    .attr("x", "10")
    .attr("y", "-10")
    .style("fill", "white");
  weigthed_focus
    .append("text")
    .attr("x", 10)
    .attr("dy", ".35em");
  // A circle marking the focus for the lover_band-price
  var lb_focus = svg
    .append("g")
    .attr("class", "focus")
    .style("pointer-events", "none")
    .style("display", "none");
  lb_focus
    .append("circle")
    .attr("r", 4.5)
    .style("fill", "LightSkyBlue")
    .style("stroke", "blue");
  lb_focus
    .append("rect")
    .attr("height", 20)
    .attr("y", "-10")
    .style("fill", "white");
  lb_focus
    .append("text")
    .attr("x", -10)
    .attr("dy", ".35em")
    .attr("text-anchor", "end");
  // var focus_line = svg
  //   .append("g")
  //   .attr("x", "100")
  //   .attr("y", "100")
  //   .attr("class", "focus")
  //   .style("display", "none");
  // focus_line
  //   .append("text")
  //   .attr("x", 9)
  //   .attr("dy", ".35em");

  function mousemove() {
    var x0 = x.invert(d3.mouse(this)[0]),
      i = bisectDate(data, x0, 1),
      d0 = data[i - 1],
      d1 = data[i],
      d = x0 - d0.Date > d1.Date - x0 ? d1 : d0;
    weigthed_focus.attr(
      "transform",
      "translate(" + x(d.Date) + "," + y(d.Weightedprice) + ")"
    );
    weigthed_focus.select("text").text(formatCurrency(d.Weightedprice));
    weigthed_focus.select("rect").attr("width", function(d) {
      return weigthed_focus
        .select("text")
        .node()
        .getBoundingClientRect().width;
    });
    lb_focus.attr(
      "transform",
      "translate(" + x(d.Date) + "," + y(d.lower_band) + ")"
    );
    lb_focus.select("text").text(formatCurrency(d.lower_band));
    lb_focus
      .select("rect")
      .attr("width", function(d) {
        return lb_focus
          .select("text")
          .node()
          .getBoundingClientRect().width;
      })
      .attr("x", function(d) {
        return (
          -lb_focus
            .select("text")
            .node()
            .getBoundingClientRect().width - 10
        );
      });

    //focus_line.attr("transform", "translate(" + x + ",0 )");
    // focus_line.select("text").text(d.Date);
  }
}
drawGraph(graphData);

function drawPurchases(data) {
  // For each row in the data, parse the date
  // and use + to make sure data is numerical
  data.forEach(function(d) {
    d.Date = parseDate(d.datetime);
    d.price = +d.btc_fiat;
    d.amount = +d.btc;
  });
  //console.log(data);

  var purchases_circles = svg.append("g").attr("id", "purchcircles");
  purchases_circles
    .selectAll("circle")
    .data(data)
    .enter()
    .append("circle")
    .attr("class", "circles")
    .attr("cx", function(d) {
      return x(d.Date);
    })
    .attr("cy", function(d) {
      return y(d.btc_fiat);
    })
    .attr("r", circleradius)
    .text(function(d) {
      return d.btc;
    })
    .style("fill", "red")
    .style("fill-opacity", "0.4")
    .on("mouseover", function() {
      purchases_circles_focus.style("display", null);
    })
    .on("mouseout", function() {
      purchases_circles_focus.style("display", "none");
    })
    .on("mousemove", mousemove);

  var purchases_circles_focus = svg
    .append("g")
    .attr("class", "focus")
    .style("pointer-events", "none")
    .style("display", "none");
  purchases_circles_focus
    .append("rect")
    .attr("height", 20)
    .attr("x", "10")
    .attr("y", "-10")
    .style("fill", "white");
  purchases_circles_focus
    .append("text")
    .attr("x", 10)
    .attr("dy", ".35em");

  function mousemove(d) {
    purchases_circles_focus.attr(
      "transform",
      "translate(" + d3.mouse(this)[0] + "," + d3.mouse(this)[1] + ")"
    );
    purchases_circles_focus.select("text").text(d.btc);
    purchases_circles_focus.select("rect").attr("width", function(d) {
      return purchases_circles_focus
        .select("text")
        .node()
        .getBoundingClientRect().width;
    });
  }
}
drawPurchases(purchaseData);

// Brush stuff

var width = svgWidth - margin.left - margin.right;
var height = 100 - margin.top - margin.bottom;

var x2 = d3
  .scaleTime()
  .domain(
    d3.extent(graphData, function(d) {
      return d.Date;
    })
  )
  //.domain([new Date(2013, 7, 1), new Date(2013, 7, 15) - 1])
  .rangeRound([0, width]);

var brushsvg = d3
  .select("#graphDiv")
  .append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

brushsvg
  .append("g")
  .attr("class", "axis axis--grid")
  .attr("transform", "translate(0," + height + ")")
  .call(
    d3
      .axisBottom(x2)
      .ticks(d3.timeHour, 12)
      .tickSize(-height)
      .tickFormat(function() {
        return null;
      })
  )
  .selectAll(".tick")
  .classed("tick--minor", function(d) {
    return d.getHours();
  });

brushsvg
  .append("g")
  .attr("class", "axis axis--x")
  .attr("transform", "translate(0," + height + ")")
  .call(
    d3
      .axisBottom(x2)
      .ticks()
      .tickPadding(10)
  )
  .attr("text-anchor", null)
  .selectAll("text")
  .attr("x", 6);

brushsvg
  .append("g")
  .attr("class", "brush")
  .call(
    d3
      .brushX()
      .extent([[0, 0], [width, height]])
      .on("end", brushended)
  );

function brushended() {
  if (!d3.event.sourceEvent) return; // Only transition after input.
  if (!d3.event.selection) return; // Ignore empty selections.
  var s = d3.event.selection || x2.range();

  var d0 = s.map(x2.invert, x2),
    d1 = d0.map(d3.timeDay.round);
  // If empty when rounded, use floor & ceil instead.
  if (d1[0] >= d1[1]) {
    d1[0] = d3.timeDay.floor(d0[0]);
    d1[1] = d3.timeDay.offset(d1[0]);
  }

  d3.select(this)
    .transition()
    .call(d3.event.target.move, d1.map(x2));
  x.domain(d1);
  var filteredData = graphData.filter(function(d) {
    return d.Date >= d1[0] && d.Date <= d1[1];
  });
  y.domain([
    d3.min(filteredData, function(d) {
      return Math.min(d.Weightedprice, d.Ma20, d.Lowerband, d.Upperband);
    }),
    d3.max(filteredData, function(d) {
      return Math.max(d.Weightedprice, d.Ma20, d.Lowerband, d.Upperband);
    })
  ]);

  //drawGraph(graphData);
  d3.select(".x.axis.bottom").call(xAxisBottom);
  d3.select(".x.axis.top").call(xAxisTop);

  d3.select(".area")
    .transition()
    .delay(30)
    .attr("d", area(graphData));

  d3.select(".priceline")
    .transition()
    .delay(60)
    .attr("d", priceLine(graphData));
  d3.select(".ma20line")
    .transition()
    .delay(90)
    .attr("d", ma20Line(graphData));
  d3.select("#purchcircles")
    .selectAll(".circles")
    .data(purchaseData)
    .transition()
    .delay(120)
    .attr("cx", function(d) {
      return x(d.Date);
    })
    .attr("cy", function(d) {
      return y(d.btc_fiat);
    });
}

</script>



{% endblock %}