{% extends "layout_blank.html" %}


{% block header_addings %}
<meta http-equiv="refresh" content="3;url=/login" />
{% endblock %}


{% block body %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Your Token is invalid or not existing.</h1>
        you will get redirected to the Login-Page soon!
    </div>
</div>

{% endblock %}