{% extends "layout_blank.html" %}


{% block body %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>An error appeared. We're so sorry!</h1>

    </div>
</div>

{% endblock %}