<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="title" content="Flask-Vue">
        <title>Title</title>
        <meta name="description" content="PageDescription">

        <meta http-equiv="content-type" content="text/html;charset=UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
        <meta name="ROBOTS" content="INDEX, FOLLOW">

    </head>

    <body>
        <h1>API</h1>

        <h4>Message</h4>
        <p>{{msg}}</p>

        <h4>Debug:</h4>
        <p>{{config.DEBUG}}</p>

        <h1>Documentation</h1>
        <p>The API is alpha, therefore it's not stable and can change anytime. Each resource starts with /api/v1alpha/</p>
        <p>Currently we have:</p>
        <ul>
            <li>/api/v1alpha/prices</li>
            <li>/api/v1alpha/prices/(year)/</li>
            <li>/api/v1alpha/prices/(year)/(month)</li>
            <li>/api/v1alpha/prices/(year)/(month)/(day)</li>
        </ul>

    </body>
</html>