{% extends "layout_blank.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Mail might have been sent!</h1>
        <p>
            If that Email exists, then please check your Email and click the link to reset your Password!
        </p>
    </div>
</div>

{% endblock %}


