{% extends "layout_blank.html" %}

{% block body %}
<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Forgot your Password?</h3>
            </div>
            <div class="panel-body">
                <p>
                    No worries. Please enter your confirmed Mailaddress and you'll get a mail to reset your password.
                </p>
                <form class="form-signin" role="form" method="post" action="">
                <fieldset>    
                {{ form.csrf_token }}
                <div class="form-group">
                {{ form.email(placeholder="email",class="form-control") }}
                    <span class="text-danger">
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </div>
 
                <button class="btn btn-success" type="submit">Recover</button>
                <br><br>
                <p>Don't forgot your password? <a href="{{ url_for('controller.login') }}">Login!</a>.</p>
                </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>



{% endblock %}