{% extends "layout_blank.html" %}
{% block body %}


<div class="row">
    <div class="col-md-4 col-md-offset-4" style="text-align:center">
        <a href="{{ url_for('controller.home') }}"><img src="/static/Signet.png" height="60px" style="margin-left:45px;margin-top: 50px;margin-bottom:5px" /></a>
        <a href="{{ url_for('controller.home') }}"><img src="/static/Typo.png" height="25px" style="margin-left: 25px;margin-top: 55px" /></a>
        <br>
        <br><b style="text-align:center">The Low Volume Accumulator</b>
        <br>powered by Bitstamp
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form action="{{ url_for(data.controller) }}" method=post role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" name="username" autofocus>
                            
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">Remember Me</input>
                            </label>
                        </div>
                        <input type="hidden" name="next" value="{{data.next}}">
                        <!-- Change this to a button or input when using this as a form -->
                        <input type=submit value=Login class="btn btn-lg btn-success btn-block"/>
                        <br>
                        <p>No Account yet? <a href="{{ url_for('controller.register') }}">Register</a></p>
                        <p>Forgot Password? <a href="{{ url_for('controller.forgot_password') }}">Recover Password</a></p> 
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}