{% extends "layout_blank.html" %}

{% block navigation %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Terms of Service</h4>
            </div>
            <div class="modal-body">
                {% include "_tos.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Register:</h3>
            </div>
            <div class="panel-body">
                <form class="form-signin" role="form" method="post" action="">
                <fieldset>    
                {{ form.csrf_token }}
                <div class="form-group">
                {{ form.email(placeholder="email",class="form-control") }}
                    <span class="text-danger">
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </div>

                <div class="form-group">
                {{ form.password(placeholder="password",class="form-control") }}
                    <span class="text-danger">
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </div>
                <div class="form-group">
                {{ form.confirm(placeholder="confirm",class="form-control") }}
                    <span class="text-danger">
                    {% if form.confirm.errors %}
                        {% for error in form.confirm.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </div>
                <div class="form-group">
                {{ form.invitation_code(placeholder="invitation code",class="form-control") }}
                    <span class="text-danger">
                    {% if form.invitation_code.errors %}
                        {% for error in form.invitation_code.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </div>

                <div class="checkbox">
                    <label>
                    {{ form.tos(placeholder="tos") }}
                    <a data-toggle="modal" data-target="#myModal">
                        I accept the terms of service
                    </a>
                    </label>
                </div>

                <span class="text-danger">
                {% if form.invitation_code.errors %}
                    {% for error in form.invitation_code.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                </span>

            
                
                <button class="btn btn-success" type="submit">Register!</button>
                <br><br>
                <p>Already have an account? <a href="{{ url_for('controller.login') }}">Login!</a>.</p>
                </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>



{% endblock %}