{% extends "layout_blank.html" %}
{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Registered Successfully</h1>
        <p>
            Please check your Email and click the confirmation-link to confirm your account!
        </p>
    </div>
</div>

{% endblock %}


