{% extends "layout_blank.html" %}
{% block body %}



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reset Password</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Reset Password
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">

          <form role="form" action="{{ url_for('controller.reset_password',token=token) }}" method="POST">
            {{ form.csrf_token }}
            {{ form.token }}
            <p>
                <span class="text-danger">
                {% if form.token.errors %}
                    {% for error in form.token.errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                </span>
        </p>
            <div class="form-group">
                <p>
                {{ form.new_password1(placeholder="New password",class="form-control") }}
                    <span class="text-danger">
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </p>
            </div>
            <div class="form-group">
                <p>
                {{ form.new_password2(placeholder="Repeat new password",class="form-control") }}
                    <span class="text-danger">
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </p>
            </div>
            <button type="submit" value=Share class="btn btn-primary">
                Reset password 
              </button>
          </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- .col-lg-6 -->
</div>
<!-- /.row  -->
{% endblock %}


