{% extends "layout.html" %}
{% block body %}

{% if current_user.is_authenticated %}

{% if not current_user.confirmed %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Your Email is not confirmed confirmed.
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                Pressing this button will send a mail to you with a link in order to confirm your account.
                <form role="form" action="{{ url_for('controller.send_confirmation_mail') }}" method="post">
                    <button type="submit" value=Share class="btn btn-warning">
                        Send confirmation Mail
                    </button>
                </form>
            </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

{% endif %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Change Password</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Change Password
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">

          <form role="form" action="{{ url_for('controller.changepassword') }}" method="post">
            {{ form.csrf_token }}
            <p class="help-block">Here, you can change your password
                <a href="https://www.bitstamp.net/account/security/api/">here</a>.
            </p>
            <div class="form-group">
                <p>
                {{ form.current_password(placeholder="Old password",class="form-control") }}
                    <span class="text-danger">
                    {% if form.current_password.errors %}
                        {% for error in form.current_password.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </p>
            </div>
            <div class="form-group">
                <p>
                {{ form.new_password1(placeholder="New password",class="form-control") }}
                    <span class="text-danger">
                    {% if form.new_password1.errors %}
                        {% for error in form.new_password1.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </p>
            </div>
            <div class="form-group">
                <p>
                {{ form.new_password2(placeholder="Repeat new password",class="form-control") }}
                    <span class="text-danger">
                    {% if form.new_password2.errors %}
                        {% for error in form.new_password2.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endif %}
                    </span>
                </p>
            </div>
            <button type="submit" value=Share class="btn btn-primary">
                Save 
              </button>
          </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- .col-lg-6 -->
  <div class="col-lg-4">
    <div class="panel panel-red">
        <div class="panel-heading">
          Danger Zone
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            Here, you can close your account and delete all your Data!
            <form role="form" action="{{ url_for('controller.close_account') }}" method="post">
                <button type="submit" value=Share class="btn btn-danger" onclick="return confirm('This is unchangeable, are you sure?');">
                    Close Account
                </button>
            </form> 
        </div>
  </div>
</div>
<!-- /.row  -->
  {% endif %}
{% endblock %}


